<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.grss.jlsx.core.dao.GrssSysMessageUserDao" >
<resultMap id="BaseResultMap" type="com.grss.jlsx.core.bean.GrssSysMessageUser" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <id column="message_id" property="messageId" jdbcType="VARCHAR" />
  </resultMap>
  
 <insert id="insertByGrssSysMessageUser" parameterType="com.grss.jlsx.core.bean.GrssSysMessageUser">
 	insert into grss_sys_message_user(user_id,message_id) values(#{userId},#{messageId})
 </insert>
 
 <delete id="deleteByGrssSysMessageUser" parameterType="com.grss.jlsx.core.bean.GrssSysMessageUser">
 	delete from grss_sys_message_user where user_id = #{userId,jdbcType=VARCHAR}
      and message_id = #{messageId,jdbcType=VARCHAR}
 </delete>
 
 <delete id="deleteByMessageId" parameterType="java.lang.String">
 	delete from grss_sys_message_user where message_id = #{messageId,jdbcType=VARCHAR}
 </delete>
</mapper>